# List or Tuple Data Type

# List

In [1]:
eval('print("Mohan")')

Mohan

In [2]:
exec('print("karan")')

karan

In [3]:
exec('a = 12; b = 23; print(a+b)')

35

In [5]:
print(b)

23

In [7]:
eval('[1,23,543,6]+[1,2334,456]')

[1, 23, 543, 6, 1, 2334, 456]

In [8]:
data = [12,33,546,364]
print(data)

[12, 33, 546, 364]

In [10]:
print(type(data))

<class 'list'>

In [11]:
# features of list

In [12]:
empty = []

print(empty)

[]

In [13]:
print(len(empty))

0

In [15]:
# some basic op

In [16]:
a = [123,43,47]
b = [12,34,56]


print(a + b)

[123, 43, 47, 12, 34, 56]

In [17]:
a = [123,43,47]
b = [12,34,56]


print(a + b + a)

[123, 43, 47, 12, 34, 56, 123, 43, 47]

In [18]:
a = [123,43,47]
b = (12,34,56)


print(a + b + a)

TypeError: can only concatenate list (not "tuple") to list

In [20]:
a = [123,43,47]
b = [12,34,56]


print(a * 20)

[123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47, 123, 43, 47]

In [21]:
a = [123,43,47]
b = [12,34,56]


print(a * b)

TypeError: can't multiply sequence by non-int of type 'list'

In [22]:
#numpy array

In [25]:
# 1>> list can contain any data type:- past,future,code

a = [112,'karan',(1,124,356),True,{'Name':'Mohan'},[2,1243,546],45.8,56-8j,None]


print(a)

[112, 'karan', (1, 124, 356), True, {'Name': 'Mohan'}, [2, 1243, 546], 45.8, (56-8j), None]

In [26]:
a = [1,243,5]

In [27]:
b = [2 == 2, 'k' in 'karan', id(a),max(a)]

print(b)

[True, True, 2358976031232, 243]

In [28]:
# 2>> list supports indexing

a = [1,234,45645,412356]

# positive indexing, negative indexing
a[2]

45645

In [29]:
data = [12,3454,34312,43,421,345,45,346,4324,56]

data[4]

421

In [40]:
data[-6]

421

In [43]:
# 3>> list support slicing

data = [12,3454,34312,43,421,345,45,346,4324,56]


data[2:8]

[34312, 43, 421, 345, 45, 346]

In [44]:
data[-8:-2]

[34312, 43, 421, 345, 45, 346]

In [45]:
data[::2]

[12, 34312, 421, 45, 4324]

In [47]:
# reverse a list
data[::-1]

[56, 4324, 346, 45, 345, 421, 43, 34312, 3454, 12]

In [52]:
# 4>> list can be nested
data = [1,234,4,[12,432,5,[23,124,325,[1,24,35,[12,1324325]]]]]

print(data)

[1, 234, 4, [12, 432, 5, [23, 124, 325, [1, 24, 35, [12, 1324325]]]]]

In [54]:
# 5>> list are mutable in nature
# we can change element/elements of a list
# list support item assignment

In [55]:
students = ['karan','ravi','mohan','ajay','kavita','khani','adhuri']


print(students)

['karan', 'ravi', 'mohan', 'ajay', 'kavita', 'khani', 'adhuri']

In [61]:
students[3] = 'Ajay Verma'
# item assignment

In [62]:
print(students)

['karan', 'ravi', 'mohan', 'Ajay Verma', 'kavita', 'khani', 'adhuri']

In [64]:
students[-1] = 'puri'

In [65]:
print(students)

['karan', 'ravi', 'mohan', 'Ajay Verma', 'kavita', 'khani', 'puri']

In [67]:
students[2]+= ' sharma'

In [68]:
print(students)

['karan', 'ravi', 'mohan sharma', 'Ajay Verma', 'kavita', 'khani', 'puri']

In [69]:
students[-2] = 'adhuri ' + students[-2]

In [70]:
print(students)

['karan', 'ravi', 'mohan sharma', 'Ajay Verma', 'kavita', 'adhuri khani', 'puri']

In [72]:
data = [True]*10

print(data)

[True, True, True, True, True, True, True, True, True, True]

In [73]:
data[-1] = False

In [74]:
print(data)

[True, True, True, True, True, True, True, True, True, False]

In [76]:
print(students)

['karan', 'ravi', 'mohan sharma', 'Ajay Verma', 'kavita', 'adhuri khani', 'puri']

In [78]:
students[1:-2] = ['khanna','salmon bhai','srkk','ji modi']

In [79]:
print(students)

['karan', 'khanna', 'salmon bhai', 'srkk', 'ji modi', 'adhuri khani', 'puri']

In [84]:
students[::2] = [None]*4

In [85]:
print(students)

[None, 'khanna', None, 'srkk', None, 'adhuri khani', None]

In [92]:
students[2:5] = [None]

In [93]:
print(students)

[None, 'khanna', None, 'adhuri khani', None]

In [95]:
#6>> we can delete element/elements of list

In [100]:
del students[::2]

In [101]:
print(students)

['khanna', 'adhuri khani']

In [102]:
del students

In [103]:
print(students)

NameError: name 'students' is not defined

In [104]:
#7>> nested item assignment

In [105]:
data = [12,42,342,[12,432,5,[12,34,5,[2,34,65]]]]


print(data)

[12, 42, 342, [12, 432, 5, [12, 34, 5, [2, 34, 65]]]]

In [109]:
data[3][3][1] = 420

In [110]:
print(data)

[12, 42, 342, [12, 432, 5, [12, 420, 5, [2, 34, 65]]]]

In [115]:
data[3][3][3][2] = 650

In [116]:
print(data)

[12, 42, 342, [12, 432, 5, [12, 420, 5, [2, 34, 650]]]]

In [121]:
data[-1][-1][-1][-1] = 65

In [122]:
print(data)

[12, 42, 342, [12, 432, 5, [12, 420, 5, [2, 34, 65]]]]

# List Methods

In [123]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [124]:
methods = ['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [125]:
print(len(methods))

11

In [126]:
print(methods)

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [127]:
sheikh_sahab = ['bmw','audi','rolls royce','porsche','mustang gt','bugatti','land rover']

print(sheikh_sahab)

['bmw', 'audi', 'rolls royce', 'porsche', 'mustang gt', 'bugatti', 'land rover']

In [128]:
sheikh_sahab.append('Gold Plated Tesla')

In [129]:
print(sheikh_sahab)

['bmw', 'audi', 'rolls royce', 'porsche', 'mustang gt', 'bugatti', 'land rover', 'Gold Plated Tesla']

In [130]:
sheikh_sahab.append('Tesla','Nano')

TypeError: list.append() takes exactly one argument (2 given)

In [131]:
sheikh_sahab.append(['Tesla','Nano'])

In [132]:
print(sheikh_sahab)

['bmw', 'audi', 'rolls royce', 'porsche', 'mustang gt', 'bugatti', 'land rover', 'Gold Plated Tesla', ['Tesla', 'Nano']]

In [134]:
sheikh_sahab.clear()

In [135]:
print(sheikh_sahab)

[]

In [136]:
arun = ['bmw', 'audi', 'rolls royce']
varun = arun

In [137]:
print(varun)

['bmw', 'audi', 'rolls royce']

In [138]:
print(arun)

['bmw', 'audi', 'rolls royce']

In [139]:
# deep copy

In [140]:
varun.append('Nano')

In [141]:
print(varun)

['bmw', 'audi', 'rolls royce', 'Nano']

In [142]:
print(arun)

['bmw', 'audi', 'rolls royce', 'Nano']

In [143]:
id(varun)

2358975629824

In [144]:
id(arun)

2358975629824

In [145]:
# shallow copy

arun = ['bmw', 'audi', 'rolls royce']

shivam = arun.copy()

In [146]:
print(arun)

['bmw', 'audi', 'rolls royce']

In [147]:
print(shivam)

['bmw', 'audi', 'rolls royce']

In [148]:
shivam.append('Kia')

In [149]:
print(shivam)

['bmw', 'audi', 'rolls royce', 'Kia']

In [150]:
print(arun)

['bmw', 'audi', 'rolls royce']

In [151]:
id(arun)

2358975330624

In [152]:
id(shivam)

2358975885120

In [165]:

madan = ['bmw', 'audi', 'rolls royce']

shivam = madan[:]

In [166]:
id(shivam)

2358975878720

In [167]:
id(madan)

2358958730816

In [168]:
shivam.append('ford')

In [169]:
print(shivam)

['bmw', 'audi', 'rolls royce', 'ford']

In [170]:
print(madan)

['bmw', 'audi', 'rolls royce']

In [171]:
print(methods)

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [172]:
data = [1,1,1,2,2,2,2,2,2,3,3,3,23,4,324,23,3,23,3,323,23,234,4,45,5,6]



data.count(2)

6

In [173]:
shivam

['bmw', 'audi', 'rolls royce', 'ford']

In [174]:
shivam.append(['kia','maruti'])

In [175]:
shivam

['bmw', 'audi', 'rolls royce', 'ford', ['kia', 'maruti']]

In [176]:
arun

['bmw', 'audi', 'rolls royce']

In [180]:
arun.extend(['kia', 'maruti'])

In [181]:
print(arun)

['bmw', 'audi', 'rolls royce', 'kia', 'maruti', 'kia', 'maruti']

In [183]:
arun.index('kia')

3

In [186]:
varun

['bmw', 'audi', 'rolls royce', 'Nano']

In [187]:
varun.index('rolls royce')

2

In [195]:
data = [21,43,412,4,4,33,565,432,4,3,24,324,21,34,4,65,67]


data.index(4,4)

4

In [197]:
varun.insert(1,'Range Rover')

In [198]:
print(varun)

['bmw', 'Range Rover', 'audi', 'rolls royce', 'Nano']

In [199]:
varun

['bmw', 'Range Rover', 'audi', 'rolls royce', 'Nano']

In [200]:
varun.pop()

'Nano'

In [202]:
varun.pop()

'rolls royce'

In [204]:
varun.pop(1)

'Range Rover'

In [205]:
varun

['bmw', 'audi']

In [207]:
varun.pop()

'audi'

In [209]:
varun.pop()

'bmw'

In [210]:
varun

[]

In [211]:
arun

['bmw', 'audi', 'rolls royce', 'kia', 'maruti', 'kia', 'maruti']

In [214]:
arun.remove('kia')

In [216]:
arun.remove('rolls royce')

In [221]:
arun.remove('Maruti')

ValueError: list.remove(x): x not in list

In [222]:
# 'reverse', 'sort'

In [223]:
sales = [1,243,4312,43,432,45,53,54,6,576,5534,5]

print(len(sales))

12

In [224]:
print(sales)

[1, 243, 4312, 43, 432, 45, 53, 54, 6, 576, 5534, 5]

In [227]:
sales.reverse()

In [228]:
print(sales)

[1, 243, 4312, 43, 432, 45, 53, 54, 6, 576, 5534, 5]

In [229]:
# 'sort'

In [232]:
sales.sort()

In [233]:
print(sales)

[1, 5, 6, 43, 45, 53, 54, 243, 432, 576, 4312, 5534]

In [234]:
# for descending
sales.sort(reverse=True)

In [235]:
print(sales)

[5534, 4312, 576, 432, 243, 54, 53, 45, 43, 6, 5, 1]

In [236]:
sales = [12,43,412,34,34312,35]


print(sales)

[12, 43, 412, 34, 34312, 35]

In [237]:
sales.sort(reverse=False)

In [238]:
print(sales)

[12, 34, 35, 43, 412, 34312]

In [239]:
# DSA

max min

In [240]:
sales

[12, 34, 35, 43, 412, 34312]

In [241]:
max(sales)

34312

In [242]:
min(sales)

12

In [243]:
sum(sales)

34848

In [244]:
sum(sales)/len(sales)

5808.0

# Tuple data type

In [245]:
data  = (1,234,543,56)

print(data)

(1, 234, 543, 56)

In [246]:
sales = 213,45,523,4,32,454,6


print(sales)

(213, 45, 523, 4, 32, 454, 6)

In [247]:
print(type(sales))

<class 'tuple'>

In [248]:
# empty tuple 

a = ()

print(a)

()

In [249]:
print(type(a))

<class 'tuple'>

In [252]:
# 1>> tuple can also contain all data types
# 2>> indexing, slicing
# 3>> imutable in nature:- does not support item assignment

In [254]:
a = (12,343,465,21,42)

a[2] = 800

TypeError: 'tuple' object does not support item assignment

In [255]:
min(a)

12

In [256]:
max(a)

465

In [257]:
sum(a)

883

In [262]:
pwd = (24,1243,431,23,543,6,4214)

pwd  = list(pwd)  # type casting

pwd[2] = 420
pwd = tuple(pwd)

pwd

(24, 1243, 420, 23, 543, 6, 4214)

In [263]:
data = (1,234,4,12,4,2,345,523,423,42,345,35,34256)

data.count(4)

2

In [264]:
data.index(345)

6

In [266]:
sales + sales

(213, 45, 523, 4, 32, 454, 6, 213, 45, 523, 4, 32, 454, 6)

In [269]:
a*2

(12, 343, 465, 21, 42, 12, 343, 465, 21, 42)

In [270]:
s = (1,23,14,2,(1,2,4,(1,24,35)))

print(s)

(1, 23, 14, 2, (1, 2, 4, (1, 24, 35)))

In [271]:
# single element tuple


d = (2)

print(d)
print(type(d))

2
<class 'int'>

In [272]:
# single element tuple


d = (2,)

print(d)
print(type(d))

(2,)
<class 'tuple'>