In [2]:
# For loop
# for loop with else
# one liner for loop
# list comphrension
# ---------------------------
# KBC Game

In [3]:
# for loop with else

In [4]:
# if
# else

In [5]:
data = [234,1243,45,214,3546]
for i in data:
    print(i)
    
else:
    print('ye tabhi chalega jab for loop pura chalega')

234
1243
45
214
3546
ye tabhi chalega jab for loop pura chalega

In [6]:
data = [234,1243,45,214,3546]
for i in data:
    if i == 45:
        break
    else:
        print(i)
    
else:
    print('ye tabhi chalega jab for loop pura chalega')

234
1243

In [7]:
# prime number find:
# prime:- divisible by itself and 1
# atleast 2 divisibility

In [8]:
# 2:- 2,1
# 3:- 3,1
# 4:- 1,2,4
# 1:- 1

In [20]:
number = 3

if number>=2:

    for i in range(2,number):
        if number % i == 0:
            print('Not a prime Number')
            break

    else:
        print('Prime Number')
else:
    print('Invalid')

Prime Number

In [21]:
# nested for loop

In [22]:
# for loop:
#     for loop:
#         for loop:
#             for loop
# time complex:- High

In [23]:
bag1 = ['apple','mango','banana','papaya']
bag2 = ['@','#','$','^']

# @#$^apple
# @#$^mango

In [46]:
for i in bag1:  # outer loop
    for j in bag2: # inner loop
        print(j,end = '')
        
    print(i)

@#$^apple
@#$^mango
@#$^banana
@#$^papaya

In [53]:
data1 = [1,232,43,1243,34,135,6,345,653,445,67,43243,4456,787,54534]
data2 = [1,235,12,34,6532,6,7,34,655,47,653,24,367,575]

# c = [1,34,6]

common = []

for i in data1:
    for j in data2:
        if i == j:
            common.append(i)
            
print(common)

[1, 34, 34, 6, 653]

In [57]:
data1 = [1,232,43,1243,34,135,6,345,653,445,67,43243,4456,787,54534]
data2 = [1,235,12,34,6532,6,7,34,655,47,653,24,367,575]
data3 = [21,3456,5432,4,567,653,34,65678,3,234,5457]

common = []

for i in data1:
    for j in data2:
        for k in data3:
            if (i == j == k):
                common.append(i)
            
print(list(set(common)))

[34, 653]

In [96]:
data1 = [1,232,43,1243,34,135,6,2,345,653,445,67,43243,4456,787,54534]
data2 = [1,235,12,34,6532,6,7,34,2,655,47,653,24,367,575]
data3 = [21,3456,5432,4,567,653,2,34,65678,3,234,5457]
data4 = [12,34,412,354,6532,56,2,775,4,567,54,677]
data5 = [4,12354,34,1235,45,1235,2,64,6532,6758]
data6 = [21,345,42,345,67,4324,56782,2,5542,1344,5677]
data7 = [12,43,65,324,567,5,434,2,456,7,654,55,67,9]
# print(data1+data2+data3)

In [97]:
set(data1).intersection(data2,data3,data4,data5,data6,data7)

{2}

In [98]:
mera_message = 'ans = set(data1).intersection('

for i in range(2,8):
    mera_message += 'data'+str(i)+','
    
mera_message = mera_message[:-1]+')'
exec(mera_message)

In [99]:
a = 'python'

In [100]:
a[:-1]

'pytho'

In [101]:
ans

{2}

In [102]:
mera_message

'ans = set(data1).intersection(data2,data3,data4,data5,data6,data7)'

In [103]:
# one liner for loop
# list comphrension

In [104]:
# one liner for loop

In [110]:
data = ['kia','bmw','audi','nano']
import time

for i in data:
    print(i)
    time.sleep(1)

kia
bmw
audi
nano

In [113]:
data = ['kia','bmw','audi','nano']
import time

for i in data:print(i);time.sleep(1)

kia
bmw
audi
nano

In [114]:
# list comphrension

In [115]:
# list ke andar for loop chalana

In [116]:
data = [12,43,523,456,432,43,45678]

even = []
odd =[]
for i in data:
    if i % 2== 0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[12, 456, 432, 45678]
[43, 523, 43]

In [117]:
data

[12, 43, 523, 456, 432, 43, 45678]

In [119]:
[i+10 for i in data]

[22, 53, 533, 466, 442, 53, 45688]

In [122]:
even = [i for i in data if i % 2 == 0]
odd = [i for i in data if i % 2 != 0]

print(even)
print(odd)

[12, 456, 432, 45678]
[43, 523, 43]

In [123]:
data

[12, 43, 523, 456, 432, 43, 45678]

In [126]:
print([(i,i) for i in data])

[(12, 12), (43, 43), (523, 523), (456, 456), (432, 432), (43, 43), (45678, 45678)]

In [127]:
print([i for i in data if i % 2 == 0])
print([i for i in data if i % 2 != 0])

[12, 456, 432, 45678]
[43, 523, 43]

In [140]:
data = 'Python'

for i in range(1,len(data)+1):
    print(data[0:i])

P
Py
Pyt
Pyth
Pytho
Python

In [141]:
# [(1,1),(2,2),(3,3),(4,4)]

In [144]:
num = 5
# [(1,1),(2,2),(3,3),(4,4),(5,5)]

[(i,i) for i in range(1,num+1)]

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5)]

In [145]:
num = 5
# [(1,1),(2,4),(3,9),(4,16),(5,25)]

[(i,i**2) for i in range(1,num+1)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [148]:
data1 = [12,3,412,32,542]
data2 = [21,3,65,32,356]

common = [i for i in data1 for j in data2 if i == j]
print(common)

[3, 32]

In [150]:
data1 = [12,3,412,32,542]
data2 = [21,3,65,32,356]
data3 = [2,32,5342,153,47]
common = [(i,j,k) for i in data1 for j in data2 for k in data3 if i==j==k]
print(common)

[(32, 32, 32)]

In [151]:
# [(1,'A'),(2,'B'),...]

In [152]:
# enumerate

In [160]:
data = 'ABCDEF'
ans = []

for index,value in enumerate(data):
    ans.append((index+1,value))
ans

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E'), (6, 'F')]

In [168]:
data = string.ascii_uppercase


ans = [(i+1,j) for i,j in enumerate(data)]
print(ans)

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E'), (6, 'F'), (7, 'G'), (8, 'H'), (9, 'I'), (10, 'J'), (11, 'K'), (12, 'L'), (13, 'M'), (14, 'N'), (15, 'O'), (16, 'P'), (17, 'Q'), (18, 'R'), (19, 'S'), (20, 'T'), (21, 'U'), (22, 'V'), (23, 'W'), (24, 'X'), (25, 'Y'), (26, 'Z')]

In [166]:
import string

In [169]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [170]:
import calendar

In [171]:
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [172]:
# Random password generator

In [203]:
import random
google_account = {}

In [212]:
length = 5
possible_char = string.ascii_letters+string.digits+string.punctuation

pwd = ''


account = input('Present account: ')
for i in range(length):
    pwd += random.choice(possible_char)
    
for i in google_account:
    if pwd == google_account[i]:
        break
else:   
    print(pwd)

    ans = input('want to save (yes/no): ')
    if ans.lower() == 'yes':
        google_account[account] = pwd

Present account: uber
9*jno
want to save (yes/no): yes

In [213]:
google_account

{'netflix': 'DUj53g|A|l7a}Nl',
 'ola': '9^\\Jp`#CN9[xfwi',
 'meta': '8`7}GtK.y;8%}55',
 'google': 'XEuQiBSA.3$04QE',
 'uber': '9*jno'}

In [214]:
google_account['uber'] = '878hy@'

In [215]:
google_account

{'netflix': 'DUj53g|A|l7a}Nl',
 'ola': '9^\\Jp`#CN9[xfwi',
 'meta': '8`7}GtK.y;8%}55',
 'google': 'XEuQiBSA.3$04QE',
 'uber': '878hy@'}

In [216]:
# add data in database

In [226]:
database = {'Name':[],
           'Salary':[],
           'Address':[],
           'Age':[]}

print('Done')

Done

In [227]:
database

{'Name': [], 'Salary': [], 'Address': [], 'Age': []}

In [234]:
number_of_students = 2


for i in range(number_of_students):
    for j in database:
        database[j].append(input(f'Enter your {j}: '))
        
    print('student record added successfully!!')
    print()

Enter your Name: Ajay
Enter your Salary: 1234
Enter your Address: Noida
Enter your Age: 24
student record added successfully!!

Enter your Name: Deepak
Enter your Salary: 654324567
Enter your Address: Noida
Enter your Age: 25
student record added successfully!!

In [235]:
database

{'Name': ['Ajay', 'Jatin', 'Akshay', 'Ajay', 'Deepak'],
 'Salary': ['23456', '23456', '54321', '1234', '654324567'],
 'Address': ['Noida', 'Delhi', 'Greater Noida', 'Noida', 'Noida'],
 'Age': ['21', '32', '43', '24', '25']}

In [236]:
import pandas as pd

In [239]:
table = pd.DataFrame(database)
table

NameError: name 'database' is not defined

In [238]:
del database

In [261]:
#

Hidden_message = [[[[[[[[[[[[[[[[[[[[[[[[[[[['Chin Tapak Dam Dam']]]]]]]]]]]]]]]]]]]]]]]]]]]]

In [262]:
Hidden_message[0][0][0][0][0][0][0][0][0][0][0][0][0][0][0][0]

[[[[[[[[[[[['Chin Tapak Dam Dam']]]]]]]]]]]]

In [264]:
#h/w

In [265]:
for i in Hidden_message:
    print(i)

[[[[[[[[[[[[[[[[[[[[[[[[[[['Chin Tapak Dam Dam']]]]]]]]]]]]]]]]]]]]]]]]]]]

In [266]:
data = [12,3,434,2143,4,6]

min(data)

3

In [267]:
max(data)

2143

In [268]:
sum(data)

2602