In [1]:
data = 'I Love Python'

print(data)

I Love Python

In [3]:
print(type(data))

<class 'str'>

In [4]:
data.upper()

'I LOVE PYTHON'

In [6]:
data.center(100,'_')

'___________________________________________I Love Python____________________________________________'

In [7]:
# single quotes
# double quotes
# triple quotes

In [8]:
a = 'My name is gaurav'

print(a)

My name is gaurav

In [9]:
a = "My name is gaurav"

print(a)

My name is gaurav

In [10]:
a = 'This is Python's class'

print(a)

SyntaxError: unterminated string literal (detected at line 1) (287434441.py, line 1)

In [11]:
a = "This is Python's class"

print(a)

This is Python's class

In [13]:
c = '"Every strike brings me closer to the next home run."'

print(c)

"Every strike brings me closer to the next home run."

In [14]:
c = ""Every strike bring's me closer to the next home run.""

print(c)

SyntaxError: unterminated string literal (detected at line 1) (2904482560.py, line 1)

In [16]:
c = '''"Every strike bring's me closer to the next home run."'''

print(c)

"Every strike bring's me closer to the next home run."

In [18]:
c = "Every strike bring's me 
closer to the next home run."

print(c)

SyntaxError: unterminated string literal (detected at line 1) (2269921738.py, line 1)

In [19]:
c = "Every strike bring's me\
closer to the next home run."

print(c)

Every strike bring's mecloser to the next home run.

In [20]:
poem = 'Twinkle, twinkle, little star,\
How I wonder what you are!\
Up above the world so high,\
Like a diamond in the sky.\
\
When the blazing sun is gone,\
When he nothing shines upon,\
Then you show your little light,\
Twinkle, twinkle, all the night.\
\
Then the traveler in the dark\
Thanks you for your tiny spark,\
How could he see where to go,\
If you did not twinkle so?'

In [21]:
print(poem)

Twinkle, twinkle, little star,How I wonder what you are!Up above the world so high,Like a diamond in the sky.When the blazing sun is gone,When he nothing shines upon,Then you show your little light,Twinkle, twinkle, all the night.Then the traveler in the darkThanks you for your tiny spark,How could he see where to go,If you did not twinkle so?

In [23]:
pm = '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                    When the blazing sun is gone,
                                                    When he nothing shines upon,
                                                    Then you show your little light,
                                                    Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?'''


print(pm)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                    When the blazing sun is gone,
                                                    When he nothing shines upon,
                                                    Then you show your little light,
                                                    Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In [24]:
pm = """Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                    When the blazing sun is gone,
                                                    When he nothing shines upon,
                                                    Then you show your little light,
                                                    Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?"""


print(pm)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

                                                    When the blazing sun is gone,
                                                    When he nothing shines upon,
                                                    Then you show your little light,
                                                    Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In [26]:
# single, inline comment
a = 'karan'  #This is a name
b = 'naman'  # This is a name   # comment

print(b)

naman

In [28]:
a = 'karan'  # This is a name
b = 'naman'  # This is a name   # comment

print(b)

naman

In [31]:
# for i in range(10):
#     print('Hello')
    
# print('I love Python')

# print('We are in techvidya')


a = 20
print(a + 10)

30

In [ ]:
# multiline comments

In [34]:
'''for i in range(10):
    print('Hello')
    
print('I love Python')

print('We are in techvidya')'''


a = 20
print(a + 10)

30

In [36]:
a = 234
b = 234
c = 356
d  = 2345
e = 'Karan'
f = a+b-c
print(f)

112

In [37]:
# multiline statements:- codes

In [38]:
a = 234; b = 234; c = 356; d  = 2345; e = 'Karan'; f = a+b-c;print(f)

112

In [39]:
# multiple variable one value


a,b ,c ,d,e = 5678

print(a)

TypeError: cannot unpack non-iterable int object

In [40]:
# multiple variable one value


a = b  = c = d = e = 5678

print(a)

5678

In [42]:
print(e)

5678

In [51]:
# unpacking karna



money = [1,2345,32,345,47,6576,100]


len(money)

7

In [52]:
arun,karan,ravi,mohan,ajay,prince,deepak = money

In [53]:
print(mohan)

345

In [54]:
print(prince)

6576

In [55]:
# some basic operations

In [57]:
a = 'Hello '

b = 'World'


print(a + b)

Hello World

In [58]:
a = 'Hello'

b = ' World'


print(a + b)

Hello World

In [60]:
a = 'Hello'

b = 'World'


print(a +' ' + b)

Hello World

In [61]:
a = 'Hello'

b = 'World'


print(a - b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [62]:
a = 'Hello'

b = 345


print(a + b)

TypeError: can only concatenate str (not "int") to str

In [63]:
a = 'Hello'

b = '345'


print(a + b)

Hello345

In [64]:
# *,/,**,-,%

In [65]:
a = 'Hello'

b = 'World'


print(a * b)

TypeError: can't multiply sequence by non-int of type 'str'

In [71]:
a = 'Hello '

print(a * 5)

Hello Hello Hello Hello Hello

In [74]:
a = 'Hello\nworld'

print(a)

Hello
world

In [76]:
a = '😒\n'

print(a*5)

😒
😒
😒
😒
😒

In [77]:
# advance concept

In [79]:
a = 'Hello Python'


print(a)

Hello Python

In [81]:
# indexing
a[7]

'y'

In [82]:
a = 'Hello Python'
# positive indexing:- L to R + ve
# Negative Indexing:- R to L -ve

print(a)

Hello Python

In [83]:
print(a[-1])

n

In [84]:
print(a[8])
print(a[-4])

t
t

In [85]:
a[8] == a[-4]

True

In [86]:
a

'Hello Python'

In [88]:
a[1,2,3,4]

TypeError: string indices must be integers, not 'tuple'

In [93]:
a[1]+a[2]+a[3]+a[4]

'ello'

In [94]:
# slicing:-more than one char

In [95]:
a

'Hello Python'

In [97]:
a[1:5]   # slicing

'ello'

In [98]:
a[6:12]

'Python'

In [99]:
a[6:]

'Python'

In [100]:
a

'Hello Python'

In [102]:
a[0:5]

'Hello'

In [103]:
a[:5]

'Hello'

In [104]:
# a[start:stop]

In [105]:
a

'Hello Python'

In [107]:
# HloPto

a[0:12:2]

'HloPto'

In [108]:
# a[start:stop:step/skip]

In [113]:
a

'Hello Python'

In [112]:
a[0:12:4]

'Hot'

In [114]:
a[::4]

'Hot'

In [115]:
a

'Hello Python'

In [118]:
a[1::2]

'el yhn'

In [119]:
# reverse string

In [120]:
a

'Hello Python'

In [121]:
# nohtyP olleH

In [123]:
a[::-1]

'nohtyP olleH'

In [124]:
a = 'mohan'


print(a)

mohan

In [125]:
a[::-1]

'nahom'

In [126]:
s = 'naman'

print(s)

naman

In [128]:
s[::-1]

'naman'

In [129]:
# Palindrome words

In [130]:
a = 'nitin'

a == a[::-1]

True

In [135]:
a = 'nitin'

if a == a[::-1]:
    print(f'{a.upper()} is Palindrome words!!')
else:
    print('Not a Palindrome words!!')

NITIN is Palindrome words!!

In [137]:
a = 'Python is awesome'

In [138]:
a[7:9]

'is'

In [139]:
a[-10:-8]

'is'

In [142]:
a[-8:-11:-1]

' si'

In [148]:
# strip
# ljust
# rjust
# center
# split
# splitlines
# upper
# lower
# join
# title
# capitalize
# isupper
# istitle
# islower
# zfill
# rstrip
# lstrip
# find
# index
# isdigit
# partition
# count
# swapcase
# removeprefix
# removesuffix 
# replace

In [144]:
# total methods:- 47


print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [145]:
all_methods = 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'

In [146]:
print(all_methods)

('capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill')

In [147]:
print(len(all_methods))

47

In [149]:
# lstrip,rstrip, strip

a  = '     Kumar verma'

print(a)

     Kumar verma

In [150]:
a.lstrip()

'Kumar verma'

In [151]:
a = 'verma ji      '


a

'verma ji      '

In [152]:
a.rstrip()

'verma ji'

In [153]:
d = '    shivam ji     '


d.rstrip().lstrip()

'shivam ji'

In [154]:
d

'    shivam ji     '

In [155]:
d.strip()

'shivam ji'

In [159]:
# ljust
# rjust
# center


a = 'Hello World'

a.center(100,' ')

'                                            Hello World                                             '

In [161]:
a = 'Hello World'


a.ljust(20,'_')

'Hello World_________'

In [162]:
a = 'Hello World'


a.rjust(20,'_')

'_________Hello World'

In [163]:
# split
# splitlines
# upper
# lower

In [166]:
a = 'this is elon musk'


print(list(a))

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'e', 'l', 'o', 'n', ' ', 'm', 'u', 's', 'k']

In [167]:
a = 'this is elon musk'


a.split(' ')

['this', 'is', 'elon', 'musk']

In [168]:
b = 'This\nis\nElon\nMusk'

print(b)

This
is
Elon
Musk

In [169]:
b.splitlines()

['This', 'is', 'Elon', 'Musk']

In [170]:
b.split('\n')

['This', 'is', 'Elon', 'Musk']

In [171]:
a = 'Hello world'


a.upper()

'HELLO WORLD'

In [177]:
a = 'Hello world'

a.upper().lower()

'hello world'

In [178]:
# join
# title
# capitalize
# isupper
# istitle
# islower
# zfill

In [179]:
a = 'this is elon musk'

a.title()

'This Is Elon Musk'

In [180]:
a = 'this is elon musk'

a.capitalize()

'This is elon musk'

In [181]:
a = 'this is elon musk. modi'

a.capitalize()

'This is elon musk. modi'

In [197]:
a = 'this is elon musk. modi'

result = ''
for i in a.split('. '):
    result+= i.capitalize()+'. '

result = result.strip()[:-1]

print(result)

This is elon musk. Modi

In [199]:
a.upper()

'THIS IS ELON MUSK. MODI'

In [201]:
# isupper
# istitle
# islower


a = 'JHsGCGH'


a.isupper()

False

In [203]:
a = 'jhgffd'

a.islower()

True

In [205]:
a = 'This Is Elon Musk'

a.istitle()

True

In [212]:
# isdigit

a = '8756578'          

a.isdigit()

True

In [213]:
# zfill

In [216]:
a = 'hgvgh'

a.zfill(6)

'0hgvgh'

In [217]:
# find
# index

In [218]:
a = 'This is Elon Musk'


a.index('o')

10

In [223]:
a.index('s',7)

15

In [224]:
a[15]

's'

In [225]:
a

'This is Elon Musk'

In [226]:
a.index('z')

ValueError: substring not found

In [227]:
# find

a

'This is Elon Musk'

In [231]:
a.find('s',7)

15

In [232]:
a.find('z')

-1

In [233]:
a.index('z')

print('Hello world')

ValueError: substring not found

In [235]:
print(a.find('z'))

print('Hello world')

-1
Hello world

In [236]:
# partition
# count
# swapcase
# removeprefix
# removesuffix 
# replace

In [239]:
a = 'This is Elon Musk'

a.partition('E')

('This is ', 'E', 'lon Musk')

In [238]:
a = 'This is Elon Musk'

a.split(' ')

['This', 'is', 'Elon', 'Musk']

In [240]:
a

'This is Elon Musk'

In [241]:
a.count('s')

3

In [242]:
poem

'Twinkle, twinkle, little star,How I wonder what you are!Up above the world so high,Like a diamond in the sky.When the blazing sun is gone,When he nothing shines upon,Then you show your little light,Twinkle, twinkle, all the night.Then the traveler in the darkThanks you for your tiny spark,How could he see where to go,If you did not twinkle so?'

In [243]:
poem.lower().count('twinkle')

5

In [244]:
poem.count('twinkle')

3

In [245]:
poem.upper().count('TWINKLE')

5

In [246]:
poem.upper().count('twinkle'.upper())

5

'TWINKLE, TWINKLE, LITTLE STAR,HOW I WONDER WHAT YOU ARE!UP ABOVE THE WORLD SO HIGH,LIKE A DIAMOND IN THE SKY.WHEN THE BLAZING SUN IS GONE,WHEN HE NOTHING SHINES UPON,THEN YOU SHOW YOUR LITTLE LIGHT,TWINKLE, TWINKLE, ALL THE NIGHT.THEN THE TRAVELER IN THE DARKTHANKS YOU FOR YOUR TINY SPARK,HOW COULD HE SEE WHERE TO GO,IF YOU DID NOT TWINKLE SO?'

In [248]:
# swapcase
# removeprefix
# removesuffix

In [249]:
a = 'this IS ELON musk'

a.swapcase()

'THIS is elon MUSK'

In [250]:
# removeprefix
# removesuffix

In [251]:
a = 'Mr Kumar Verma'


a.removeprefix('Mr ')

'Kumar Verma'

In [252]:
f = 'dubey ji kanpur waale'


f.removesuffix(' ji kanpur waale')

'dubey'

In [253]:
# replace

In [257]:
a = 'This is Elon Musk'


a.replace('Elon Musk','Techvidya')

'This is Techvidya'

In [258]:
# join

In [259]:
a = 'Python'

b = '*'

b.join(a)

'P*y*t*h*o*n'

In [260]:
'*'.join('Python')

'P*y*t*h*o*n'

In [261]:
'1'.join('Java')

# J1a1v1a

'J1a1v1a'

In [262]:
a

'Python'

In [263]:
a.center(8,'*')

'*Python*'

In [264]:
a = 'hollywood'

In [265]:
# H O L L Y W O O D

In [267]:
' '.join(a.upper())

'H O L L Y W O O D'

In [268]:
' '.join(a).upper()

'H O L L Y W O O D'

In [270]:
'__'.join(a).upper()

'H__O__L__L__Y__W__O__O__D'

In [271]:
data = ['arun','karan','ravi','mohan','ajay','prince','deepak']
print(data)

['arun', 'karan', 'ravi', 'mohan', 'ajay', 'prince', 'deepak']

In [273]:
a = 'This is Elon Musk'

data = a.split(' ')

In [274]:
data

['This', 'is', 'Elon', 'Musk']

In [275]:
' '.join(data)

'This is Elon Musk'

In [276]:
data = ['arun','karan','ravi','mohan','ajay','prince','deepak']
print(data)

['arun', 'karan', 'ravi', 'mohan', 'ajay', 'prince', 'deepak']

In [277]:
' '.join(data)

'arun karan ravi mohan ajay prince deepak'

In [278]:
data = ['karan','naman',23]

' '.join(data)

TypeError: sequence item 2: expected str instance, int found

In [279]:
blog = '''Everyone I met in Pakistan was very curious about India. Their top question was, “What’s the difference between India and Pakistan? Are they similar?” The answer is, yes, there is a familiarity between India and Pakistan. After all, they used to be the same country. But at the same time, there are a few differences.'''

print(blog)

Everyone I met in Pakistan was very curious about India. Their top question was, “What’s the difference between India and Pakistan? Are they similar?” The answer is, yes, there is a familiarity between India and Pakistan. After all, they used to be the same country. But at the same time, there are a few differences.