In [2]:
# Softwares:
#     Libraries:
#         Modules:
#             class programming(oops):
#                 functional programming:
#                     conditional programming:
#                         loops, for, while, if else
#                         break pas, continue
#                         data types
#                         op

In [28]:
say_hello()

Hello Buddy!,How are you??

In [3]:
print('Hello Buddy!!')

Hello Buddy!!

In [4]:
print('Hello Buddy!!')
print('Hello Buddy!!')
print('Hello Buddy!!')

Hello Buddy!!
Hello Buddy!!
Hello Buddy!!

In [5]:
for i in range(10):
    print('Hello Buddy!!')

Hello Buddy!!
Hello Buddy!!
Hello Buddy!!
Hello Buddy!!
Hello Buddy!!
Hello Buddy!!
Hello Buddy!!
Hello Buddy!!
Hello Buddy!!
Hello Buddy!!

In [6]:
# def greet():
#     code block

In [7]:
def greet():
    print('Hello Buddy!!')

In [8]:
greet()

Hello Buddy!!

In [9]:
greet()

Hello Buddy!!

In [11]:
# # functions:- defined set of code block, which created to
# perform some action or task when it's required

In [12]:
# # func: user defined, inbuilt
# inbuilt:- pre defined, 
# user defined:- created by user

In [13]:
# print()
# len()
# round()
# min()
# any()
# all()
# exec()
# eval()
# etc....

In [15]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [16]:
# input()

In [17]:
a = 34

In [18]:
str(a)

'34'

In [19]:
# int()
# list()
# float()
# complex()
# set()
# tuple()
# dict()
# frozenset()
# str()
# bool()
# #

In [20]:
a = [2,34,32,13546,3256]

min(a)

2

In [21]:
max(a)

13546

In [22]:
sum(a)

16870

In [24]:
len(a)

5

In [25]:
# user defined func

In [26]:
# define declare
def say_hello():
    print('Hello Buddy!,How are you??')

In [27]:
say_hello()

Hello Buddy!,How are you??

In [33]:
def hello():
    rint(naman)

In [34]:
hello()

NameError: name 'rint' is not defined

In [58]:
# func with parameter
# func without parameter
# func with arguments
# func without arguments
# print vs return
# func docstring
# data type declare
# default arguments
# *args
# **kwargs
# nested func
# scope in Python(variable scope)
# some important funcs
# recursive func
# decorator
# generator
# lambda: map, filter, reduce

In [37]:
# func with parameter
# func without parameter
# func with arguments
# func without arguments
# print vs return

In [38]:
min([1,24354,6])

1

In [40]:
say_hello()

Hello Buddy!,How are you??

In [41]:
say_hello('komal')

TypeError: say_hello() takes 0 positional arguments but 1 was given

In [43]:
def greet():  # without parameter
    print('Hello dear, Hope everything is good')

In [44]:
greet()  # without arguments

Hello dear, Hope everything is good

In [45]:
def greet_him():
    name = input('Enter your name: ')
    print(f'Hello {name}, how are you?')

In [47]:
greet_him()

Enter your name: Komal
Hello Komal, how are you?

In [48]:
def greet_him(name):  # with parameter
    print(f'Hello {name}, how are you?')

In [50]:
greet_him('Jatin')

Hello Jatin, how are you?

In [52]:
greet_him('Mohan')   # with arguments

Hello Mohan, how are you?

In [53]:
# print vs return

In [54]:
def introduction(name,age,salary,add):
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [56]:
introduction('Lucky',23,98765,'Noida')

Your Name is Lucky
Your Age is 23
Your Salary is 98765
Your Address is Noida

In [57]:
introduction('Noida',23,98765,'Mohan')  # many params/many args

Your Name is Noida
Your Age is 23
Your Salary is 98765
Your Address is Mohan

In [59]:
# print vs return

In [60]:
def add(n1,n2):
    print(n1 + n2)  # to display the output/result

In [61]:
add(10,24)

34

In [62]:
add(10,24)+100

34

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [63]:
None + 12

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [64]:
add(13,23)

36

In [66]:
type(print(13+23))

36

NoneType

In [67]:
None + 100

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [68]:
print() + 100

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [70]:
# return:- an object, at output, and we can perform any operation with it

In [71]:
def add_v2(n1,n2):
    return n1+n2

In [72]:
add_v2(12,10)

22

In [73]:
add_v2(12,10) + 100

122

In [83]:
def add_two_list(l1,l2):
    print(l1+l2)

In [84]:
ans = add_two_list([12,45,4],[23,54,6])
print(ans)
ans.append(1000)

[12, 45, 4, 23, 54, 6]
None

AttributeError: 'NoneType' object has no attribute 'append'

In [85]:
ans

In [86]:
None.append(1)

AttributeError: 'NoneType' object has no attribute 'append'

In [87]:
print().append(123)

AttributeError: 'NoneType' object has no attribute 'append'

In [88]:
def add_two_list(l1,l2):
    return l1+l2

In [92]:
# print()
# return

In [93]:
type(return)

SyntaxError: invalid syntax (1493432099.py, line 1)

In [91]:
type(print)

builtin_function_or_method

In [94]:
a = []
type(a.append)

builtin_function_or_method

In [95]:
type(say_hello)

function

In [96]:
# print()
# min()
# len()

In [ ]:
introduction()

In [100]:
def introduction(name,age,salary,add):
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [102]:
# introduction()

In [103]:
# data type declare
# default arguments
# *args
# **kwargs
# nested func
# scope in Python(variable scope)

In [104]:
# dynamic 

a = 45
print(type(a))

<class 'int'>

In [106]:
# int a = 34
# print(type(a))

In [107]:
a:int  = 98
print(a)

98

In [108]:
a:int  = '98'
print(a)

98

In [110]:
print(type(a))

<class 'str'>

In [111]:
# args:- dtype

def introduction(name:str,
                 age:int,
                 salary:float,
                 add:str):
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [112]:
introduction([12,43,5],34,345,'Goa')

Your Name is [12, 43, 5]
Your Age is 34
Your Salary is 345
Your Address is Goa

In [116]:
# args:- dtype

def introduction(name:'Idhar name bharna hai',
                 age:'int',
                 salary:'float',
                 add:'str'):
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [115]:
introduction()

TypeError: introduction() missing 4 required positional arguments: 'name', 'age', 'salary', and 'add'

In [117]:
id(introduction)

2957847224032

In [119]:
# args:- dtype

def introduction(name:'Idhar name bharna hai',
                 age:'int',
                 salary:'float',
                 add:'str')->  None:
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [ ]:
introduction()

In [121]:
#  default arguments
# *args
# **kwargs
# nested func

In [122]:
# args:- dtype

def introduction(name,age,salary,add)->  None:
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [123]:
introduction()

TypeError: introduction() missing 4 required positional arguments: 'name', 'age', 'salary', and 'add'

In [124]:
# default arguments

In [132]:
# default args:- dtype

def introduction(name = 'Unknown',age = 0,salary = 18000,add = None):
    
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [135]:
introduction('karan',23)

Your Name is karan
Your Age is 23
Your Salary is 18000
Your Address is None

In [140]:
print('Mohan','verma')

Mohan verma

In [141]:
# *args
# **kwargs

In [142]:
def add(a,c):
    return a+c

In [144]:
add(120,19,90)

TypeError: add() takes 2 positional arguments but 3 were given

In [145]:
add(120,19,90,34)

TypeError: add() takes 2 positional arguments but 4 were given

In [146]:
add(120)

TypeError: add() missing 1 required positional argument: 'c'

In [ ]:
(12,34,45)

In [155]:
def add_n(*args):
    result = 0
    for i in args:
        result += i
    return result

In [156]:
add_n(12,3,42,456)

513

In [157]:
add_n(12,3,42,456,34,543,23,54,6532,456,6,6535)

14696

In [158]:
add_n(12,3)

15

In [159]:
print(12,34324,2,435,';Mohan','verma')

12 34324 2 435 ;Mohan verma

In [160]:
add_n(1234,2345,456)

4035

In [161]:
# default args:- dtype

def introduction(name = 'Unknown',age = 0,salary = 18000,add = None):
    
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(f'Your Name is {name}')
    print(f'Your Age is {age}')  
    print(f'Your Salary is {salary}')   
    print(f'Your Address is {add}')

In [162]:
introduction('jatin',24,34567,'Delhi')

Your Name is jatin
Your Age is 24
Your Salary is 34567
Your Address is Delhi

In [163]:
introduction('jatin',24,34567,'Delhi','IT')

TypeError: introduction() takes from 0 to 4 positional arguments but 5 were given

In [164]:
introduction('jatin',24,34567)

Your Name is jatin
Your Age is 24
Your Salary is 34567
Your Address is None

In [165]:
# **kwargs:- keyword args

In [166]:
# default args:- dtype

def introduction(**kwargs):
    
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    print(kwargs,type(kwargs))

In [168]:
introduction(Name = 'Neha',age = 20,salary = 234567)

{'Name': 'Neha', 'age': 20, 'salary': 234567} <class 'dict'>

In [169]:
# default args:- dtype

def introduction(**kwargs):
    
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    for key,value in kwargs.items():
        print(f'Your {key} is {value}')

In [176]:
introduction(Name = 'Mohan',Address = 'Noida',salary = 98765432,Age = 65)

Your Name is Mohan
Your Address is Noida
Your salary is 98765432
Your Age is 65

In [178]:
# default args:- dtype

def introduction(**data):
    
    '''This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message'''
    
    for key,value in data.items():
        print(f'Your {key} is {value}')

In [182]:
introduction(Name = 'Ajay',Address = 'Noida',salary = 98765432,Age = 65)

Your Name is Ajay
Your Address is Noida
Your salary is 98765432
Your Age is 65

In [183]:
# func with pass
# nested func

In [184]:
def kuch_kariye():
    pass

In [185]:
kuch_kariye()

In [186]:
def kuch_kariye():
    ...

In [187]:
kuch_kariye()

In [190]:
def kuch_kariye():
    None

In [192]:
kuch_kariye()

In [194]:
# nested func:- 

help(introduction)

Help on function introduction in module __main__:

introduction(**data)
    This is an Introduction func,
    created by user, you have to give some arguments,
    it will return a wonderful message

In [197]:
# help(list)

In [198]:
# nested func:- function inside function

In [201]:
def a():
    print('I am a')
    
    def b():
        print('I am b')
        
    b()

In [202]:
a()

I am a
I am b

In [221]:
def a(): # outer func
    print('I am a')
    
    def b(): #inner fun
        print('I am b')
        
        def c(): # sub inner func
            print('I am c')
            
        def d(): # sub inner func
            print('I am d')
            
        d()
        c()
            
    def e(): # inner func
        print('I am e')
        
    b()
    e()

In [222]:
a()

I am a
I am b
I am d
I am c
I am e

# day 2

In [1]:
# some important funcs
# recursive func
# decorator
# generator
# lambda: map, filter, reduce

In [2]:
# some important funcs

In [3]:
data = [2,34,4,3245,346]

len(data)

5

In [5]:
def count(data):
    result = 0
    for i in data:
        result += 1
    return result

In [6]:
data = [23,45,324,5,45432,4676,76,434,46]

count(data)

9

In [7]:
len(data)

9

In [8]:
currency = [23,54,21,34546,43,24,56567,67,6345]



sum(currency)

97690

In [9]:
count(currency)

9

In [11]:
def summ(any_data:'list,tuple,set'):
    ans = 0
    
    for i in any_data:
        ans += i
    return ans

In [13]:
summ(currency)

97690

In [14]:
# factorial:-

In [15]:
word = 'ant'

In [16]:
# 'tan'
# 'ant'
# 'nat'
# 'tna'
# 'atn'
# 'nta'

In [17]:
# 3! = 3*2*1

In [18]:
5*4*3*2*1

120

In [19]:
def factorial(num):
    ans = 1
    for i in range(1,num+1):
        ans *= i
    return ans

In [20]:
factorial(5)

120

In [21]:
factorial(10)

3628800

In [22]:
# # prime number:- self, and 1

# 1:- prime:- No a Prime
# 2:- Prime, Even prime 
# 3:- prime
# 4:- No

In [23]:
def prime_number(num):
    for i in range(2,num):
        if num % i == 0:
            print('Not a Prime Number')
            break
    else:
        print('Prime Number!!')

In [28]:
prime_number(135431)

Prime Number!!

In [29]:
# table(3)

In [37]:
def table(num):
    for i in range(1,11):
        print(f"{num} x {i} = {num*i}")

In [38]:
table(9)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [39]:
# fibonacci series

In [40]:
def give_fibonnaci(num):
    fibo = [0,1]
    
    for i in range(num-2):
        next_num = fibo[-1] + fibo[-2]
        fibo.append(next_num)
    return fibo

In [51]:
print(give_fibonnaci(15))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [50]:
def give_fibonnaci(num):
    fibo = [0,1]

    for i in range(num-2):
        next_num = fibo[-1] + fibo[-2]
        fibo.append(next_num)
    return fibo

In [52]:
def pattern(w):
    
    word = w.upper().replace(' ','')
    num = len(word)

    for i in range(1,num):
        print(' '*(num-i)+ ' '.join(word[0:i]))

    for i in range(num,0,-1):
        print(' '*(num-i)+ ' '.join(word[0:i]))

In [53]:
pattern('Ajay')

   A
  A J
 A J A
A J A Y
 A J A
  A J
   A

In [54]:
pattern('Hello')

    H
   H E
  H E L
 H E L L
H E L L O
 H E L L
  H E L
   H E
    H

In [55]:
# palindrome
# armstrong
# min
# max
# anagram

In [56]:
# palindrome

In [66]:
def check_palindrome(word):
    word = word.lower()
    return True if word == word[::-1] else False

In [67]:
check_palindrome('Nitin')

True

In [68]:
# armstrong

In [70]:
# 153:- 
    
1**3 + 5**3  +  3**3

153

In [71]:
9474

9**4 + 4**4  + 7**4  + 4**4

9474

In [72]:
1**3 + 5**3 + 7**3

469

In [74]:
len(str(876))

3

In [76]:
for i in str(876):
    print(i)

8
7
6

In [78]:
int('8')**7

2097152

In [79]:
def check_armstrong(num):
    pw = len(str(num))
    ans = 0
    
    for i in str(num):
        ans += int(i)**pw
    return True if ans == num else False

In [83]:
check_armstrong(9474)

True

In [84]:
# min
# max
# anagram

In [85]:
data = [20,3,4,325,435,346]

min(data)

2

In [86]:
def check_min(data):
    my_min = data[0]
    
    for i in data:
        if i<my_min:
            my_min = i
    return my_min

In [88]:
data = [23,45,34,465,7643,5,567,43,66,456]
check_min(data)

5

In [89]:
min(data)

5

In [90]:
def check_max(data):
    my_max = data[0]
    
    for i in data:
        if i>my_max:
            my_max = i
    return my_max

In [91]:
data = [2,345,34,5,4,345,667,54,55,6465,73,45,456,457]

max(data)

6465

In [92]:
check_max(data)

6465

In [113]:
# palindrome
# armstrong
# factorial
# fibonacci series
# min
# max
# table
# prime
# give_armstrong
# give_prime

In [99]:
def give_prime(n1,n2):
    if n1 == n2 == 1:
        print('1 is not a Prime number!!')
        
    elif n1>1 and n2>1:
        all_prime = []
        for num in range(n1,n2+1):

            for i in range(2,num):
                if num % i == 0:
                    break
            else:
                all_prime.append(num)

        return all_prime
    
    else:
        print('Invalid numbers!!')

In [105]:
print(give_prime(2,100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [106]:
def check_armstrong(num):
    pw = len(str(num))
    ans = 0
    
    for i in str(num):
        ans += int(i)**pw
    return True if ans == num else False

In [109]:
def give_armstrong(n1,n2):
    arm = []
    for i in range(n1,n2+1):
        if check_armstrong(i):
            arm.append(i)
    return arm

In [112]:
give_armstrong(12,20000)

[153, 370, 371, 407, 1634, 8208, 9474]

In [134]:
def give_area(shape = None):
    
    if shape == None:
        area = 0
        print('No Such area for None type Shape!!')
    
    elif shape.lower() == 'rectangle':
        
        l = float(input('Enter length: '))
        b = float(input('Enter breadth: '))
        
        area = l*b
        print(f'Area of {shape} is: {round(area,2)} sq unit')
        
        
    elif shape.lower() == 'circle':
        
        r = float(input('Enter radius: '))
        area = 3.14*r**2
        print(f'Area of {shape} is: {round(area,2)} sq unit')
        
        
    elif shape.lower() == 'triangle':
        
        a = float(input('Enter side a: '))
        b = float(input('Enter side b: '))
        c = float(input('Enter side c: '))
    
        
        s = (a + b + c)/2
        
        if (a+b)>c   and (b+c)>a  and (c+a)>b:
        
            area = (s*(s-a)*(s-b)*(s-c))**0.5
            print(f'Area of {shape} is: {round(area,2)} sq unit')
            
        else:
            print('No such triangle can be formed using given sides!!')
            print('''"a + b" must be greater than "c", as the sum of two side 
            lengths has to exceed the length of the third side!''')
        
    elif shape.lower() == 'square':
        side = float(input('Enter side of a Square: '))
        
        area = side * side
        print(f'Area of {shape} is: {round(area,2)} sq unit')
        
        
    else:
        print('No such shape found!!')

In [135]:
give_area('square')

Enter side of a Square: 12
Area of square is: 144.0 sq unit

In [136]:
give_area('triangle')

Enter side a: 12
Enter side b: 14
Enter side c: 25
Area of triangle is: 44.49 sq unit