In [1]:
# while loop

# when we want to run our loop based on condition/s

In [2]:
# for loop data type(iterables)

In [3]:
# while condition/s:
#     code block

In [4]:
# while loop
# while iterate
# while break, continue, pass
# while else
# nested while loop
# one liner while loop

In [6]:
data = [1,234,21,35,45,65325]

for i in data:
    print(i)

1
234
21
35
45
65325

In [11]:
# counter variable

i = 0   # counter variable
while i<10:
    print('Hello World')
    i = i + 1    # increment

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [8]:
# while True:
#     ...
# while False:
#     ...

In [15]:
# counter variable

i = 0   # counter variable
while i<5:
    print('Hello World')
    i += 1

Hello World
Hello World
Hello World
Hello World
Hello World

In [16]:
import time

In [17]:
i = 0   # counter variable
while i<5:
    print('Hello World')
    i += 1
    time.sleep(1)

Hello World
Hello World
Hello World
Hello World
Hello World

In [18]:
# # table
# Practice:- Topic:- Advance(2):-
#             func

In [19]:
# 40%

In [30]:
table = 12

i = 1

while i<=10:
    print(f"{table} x {i} = {table*i}")
    i+=1

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [31]:
# while iterate

In [32]:
data = [1,243,2,15,346,5432,4546,754,325]

for i in data:
    print(i)

1
243
2
15
346
5432
4546
754
325

In [42]:
data = [1,243,2,15,346,5432,4546,754,325]

j = 0

while j<len(data):
    print(data[j])
    j += 1

1
243
2
15
346
5432
4546
754
325

In [37]:
data[6]

4546

In [49]:
data = [1,243,2,15,346,5432,4546,754,325]

j = -1

while j<len(data):
    try:
        print(data[j])
        j -= 1
    except:
        break

325
754
4546
5432
346
15
2
243
1

In [50]:
# data[-10]

In [46]:
len(data)

9

In [47]:
j

-10

In [51]:
data = {'name':'anuj','age':45,'salary':34567,'address':'Noida'}

print(data)

{'name': 'anuj', 'age': 45, 'salary': 34567, 'address': 'Noida'}

In [52]:
list(data)

['name', 'age', 'salary', 'address']

In [53]:
data.keys()

dict_keys(['name', 'age', 'salary', 'address'])

In [54]:
list(data)

['name', 'age', 'salary', 'address']

In [55]:
[*data]

['name', 'age', 'salary', 'address']

In [64]:
all_values = list(data.values())

In [65]:
all_keys = list(data)

In [66]:
all_keys

['name', 'age', 'salary', 'address']

In [67]:
i = 0

while i <len(all_keys):
    print(all_keys[i],all_values[i])
    i+=1

name anuj
age 45
salary 34567
address Noida

In [68]:
# # suggestions:


# data types
# op
# methods
# if else
# for loop while
# game

In [69]:
# write a python code to find even and odd numbers from given list
# a = [12,344,665,32467]

# Ans : 

# Mock:-

In [78]:
# infinite loop
import random
while True:
    comp = random.choice(range(1,4))
    user = int(input('Enter your choice: '))
    
    print('comp choice: ',comp)
    if comp  == user:
        print('You won!!')
    else:
        print('You Lose!!')
        
        
    display(clear=True)

KeyboardInterrupt

In [79]:
# current system time

In [80]:
import time

In [81]:
while True:
    print(time.asctime())
    time.sleep(1)
    
    display(clear=True)

Sun Sep  1 16:16:53 2024

KeyboardInterrupt:

In [82]:
# continue :- pass se advance
# pass

In [88]:
data = [2,3,42,14,346]
i = 0
while i<len(data):
    if data[i] == 42:
        i += 1
        continue
        
    else:
        print(data[i],data[i]**2)
    i+=1

2 4
3 9
14 196
346 119716

In [89]:
data = [2,3,42,14,346]
i = 0
while i<len(data):
    if data[i] == 42:
        pass
        
    else:
        print(data[i],data[i]**2)
    i+=1

2 4
3 9
14 196
346 119716

In [90]:
# while with else

In [91]:
# for loop:
#     code block
    
# else:
#     print('ye tabhi chalega jab for loop pura chalega')

In [93]:
# # while loop:
# #     code block

# # else:
# #     print('ye else kab chalega, jab while loop pura chalega')

# break nahi hona

In [95]:
bags = ['apple','mango','banana','bomb','apple']

i = 0

while i<len(bags):
    if bags[i] == 'bomb':
        print('Bomb ðŸ’¥ðŸ’¥âŒðŸ’¥')
        break
        
    i+=1
    
else:
    print('No Bomb!!')

Bomb ðŸ’¥ðŸ’¥âŒðŸ’¥

In [98]:
bags = ['apple','mango','banana','apple']

i = 0
while i<len(bags):
    if bags[i] == 'bomb':
        print('Bomb ðŸ’¥ðŸ’¥âŒðŸ’¥')
        break
        
    i+=1  
else:
    print('No Bomb!!')

No Bomb!!